.MenuNode {
    background-color: rgb(164, 181, 191);
    min-height: 1.8em;
    padding-left: 1em;
    transition: 0.3s;
}

.MenuNode-active {
    background-color: rgb(1, 152, 171);
}

.MenuNode-link {
    margin-right: auto;
    margin-left: auto;
    width: auto;
    color: rgb(32, 32, 32);
    text-decoration: none;
}

.MenuNode-active > .MenuNode-link, .MenuNode-sing {
    color: #000;
}

.MenuNode-sing {
    cursor: pointer;
    float: right;
}
