.MenuNode {
    background-color: cadetblue;
    min-height: 1.2em;
    padding-left: 1em;
    transition: 0.3s;
}

.MenuNode-active-link {
    background-color: chartreuse;
}

.MenuNode-sing {
    cursor: pointer;
}