.MenuNode {
    background-color: #24292e;
    min-height: 1.8em;
    padding-left: 1em;
    transition: 0.3s;
}

.MenuNode-active {
    background-color: rgb(1, 152, 171);
}

.MenuNode-link {
    margin-right: auto;
    margin-left: auto;
    width: auto;
    color: #fff;
    text-decoration: none;
}

.MenuNode-link:hover {
    color: hsla(0,0%,100%,.7);
}

.MenuNode-sing {
    color: #fff;
    cursor: pointer;
}

.MenuNode-sing:hover {
    color: hsla(0,0%,100%,.7);
}


.MenuNode-active > .MenuNode-link, .MenuNode-active > .MenuNode-sing {
    color: #000;
}

.MenuNode-active > .MenuNode-circle {
    background-color: #000;
}
.MenuNode-circle {
    height: 0.3em;
    width: 0.3em;
    margin-right: 0.3em;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
}