.ShowDBPanel-titleinfo {
  min-height: 2.1em;
}

.ShowDBPanel-link {
  padding: 0.01em 0.3em;
  font-size: 0.85em;
  display: block;
}

.ShowDBPanel-opensource {
  margin: auto 0.5em auto;
  font-family: monospace;
  font-size: 0.85em;
  letter-spacing: -0.05em;
  white-space: nowrap;
  width: min-content;
  cursor: default;
}

.ShowDBPanel-upperleftdata {
  width: max-content;
  float: left;
}

.ShowDBPanel-txtfeat {	
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  margin: auto 0.2em;
  text-decoration: underline;
  white-space: pre-wrap;
  text-decoration-color: rgb(1, 152, 171);
  cursor: pointer;
}
