.ShowDBPanel-link {
  padding: 0.01em 0.3em;
  font-size: 0.85em;
  font-family: monospace;
  text-decoration: none;
  white-space: nowrap;
  display: block;
}

.ShowDBPanel-link:hover {
  color: rgb(60, 60, 60);
}

.ShowDBPanel-opensource {
  margin: auto 0.5em auto;
  font-family: monospace;
  font-size: 0.85em;
  letter-spacing: -0.05em;
  white-space: nowrap;
  width: min-content;
  cursor: default;
}

.ShowDBPanel-upperleftdata {
  width: max-content;
  float: left;
}
