.ShowNodePanel-title {
    text-align: center;
    font-size: 1.1em;
    min-height: 1.6364em;
    color: #000;
    background-color: rgb(1, 152, 171);
    letter-spacing: 0.05em;
    font-variant: small-caps;
    cursor: default;
}

.ShowNodePanel-summary {
    color: #000;
    font-variant: all-small-caps;
    padding-left: 0.6em;
    font-size: 0.9em;
    background-color: rgb(1, 152, 171);
    display: grid;
    cursor: default;
    line-height: 1.1em;
}