.ShowNodePanel-link {
    font-family: monospace;
    text-decoration: none;
    white-space: nowrap;
  }
  
.ShowNodePanel-link:hover {
    font-weight: 600;
}
  

.ShowNodePanel-summary {
    color: #000;
    font-variant: all-small-caps;
    padding-left: 0.6em;
    font-size: 0.9em;
    background-color: rgb(1, 152, 171);
    display: grid;
    cursor: default;
    line-height: 1.1em;
}

.ShowNodePanel-visualbreak {
    background-color: hsl(210, 25%, 95%);
}
