.ShowDBPanel-link {
  font-size: 0.7em;
  font-variant: all-small-caps;
  text-decoration: none;
  white-space: nowrap;
  display: block;
}

.ShowDBPanel-links:hover {
  color: rgb(60, 60, 60);
}

.ShowDBPanel-opensource {
  margin: auto 0.5em auto;
  font-size: 0.85em;
  letter-spacing: -0.05em;
  white-space: nowrap;
  width: min-content;
}

.ShowDBPanel-table {
  background-color: rgb(1, 152, 171);
  border-collapse: collapse;
  width: 100%;
}

.ShowDBPanel-upperleftdata {
  width: max-content;
  float: left;
}

.ShowDBPanel-summary {
  color: #000;
  font-variant: small-caps;
  padding-left: 0.6em;
  font-size: 0.9em;
  background-color: rgb(1, 152, 171);
  display: grid;
}
