body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafbfc;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.expandable {
  transition: 0.4s;
}

.expandable:hover {
  font-size: 1.1em;
}

.expandable:active {
  font-size: 1.08em;
}

/* .bordered {
  border: 8px solid white;
} */

.display-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.vcenter {
  margin-top: auto;
  margin-bottom: auto;
}
