body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(60, 60, 60);
  background-color: rgb(219, 234, 236)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.expandable {
  transition: 0.4s;
}

.expandable:hover {
  font-size: 1.1em;
}

.expandable:active {
  font-size: 1.08em;
}

/* .bordered {
  border: 8px solid white;
} */

.display-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}